* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #111;
  color: white;
}

/* HEADER ثابت */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  padding: 15px 40px;
  position: sticky;
  top: 0;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  color: orange;
}

.cta {
  background: orange;
  padding: 10px 20px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
  background: url("https://images.unsplash.com/photo-1503376780353-7e6692767b70") center/cover;
}

.btn {
  background: orange;
  padding: 12px 25px;
  color: black;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

/* SECTIONS */
.section {
  padding: 50px;
  text-align: center;
}

.card {
  background: #222;
  padding: 20px;
  margin: 10px;
}